@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('./proteins.css');

body {
    font-family: 'Quicksand', sans-serif;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ul--options {
    list-style-type: none;
    padding-inline-start: 0.4rem;
}
